<html>
      <head>
          <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
          <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom.css') }}" />
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
          <script type=text/javascript src="{{url_for('static', filename='js/npm.js') }}"></script>
      </head>
          <title> {{ title }} </title>
          {% block content %}
          <body>
            <nav class="navbar navbar-default navbar-static-top navbackground">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li><a href="http://127.0.0.1:9999/">Home</a></li>
                  <li><a href="http://127.0.0.1:9999/about">About This Project</a></li>
                </ul>
              </div>
            </nav>
            <div class="container">
              <div class="row">
                <div class="jumbotron jumbotron-fluid aboutbackground-image">
                  <div class="container aboutusintro">
                    <div class="row aboutusjumbo">
                      <div class="container smaller">
                        <h2>PROJECT <br> BACKGROUND</h2>
                        <p class="explanation-text">Women in STEM decrease in number as they progress through
                          their STEM careers. The University of Waterloo aims to accelerate gender parity, and has a
                           number of diversity goals for 2020.</p>
                          <div class="row container-fluid text-center">
                            <div class="col-sm-4">
                              <img class="center" src="static/images/upwards.png">
                              <p class="explanation-text">33% women in STEM</p>
                            </div>
                            <div class="col-sm-4">
                              <img class="center" src="static/images/faculty.png">
                              <p class="explanation-text">30% women faculty</p>
                            </div>
                            <div class="col-sm-4">
                              <img class="center" src="static/images/leaders.png">
                              <p class="explanation-text">29% women university leaders</p>
                            </div>
                          </div>
                        <p class="explanation-text">University of Waterloo’s efforts to
                        increase women enrolment in STEM has led to a 5.4% increase over the past 5 years.</p>
                    </div>
            <div class="row">
              <div class="col-lg-12">
                <img id="responsive" class="graph center responsivegraph" src="static/images/growth.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">HOW DID ACCENTURE HELP?</h1>
      <p class="explanation-text contentbox">A pro-bono team from Accenture analyzed internal and external data sets ranging from academic
         records to co-op evaluations to discover trends and cluster student, using machine learning. These clusters were used
         to create 6 distinct "personas" - each with different strengths, weaknesses, and propensity to major in STEM. Design thinking
         workshops were then conducted to identify different initiatives the university could invest in, to encourage more
          incoming and existing female students to pursue educational and employment opportunties in STEM</p>
      <div class="col-md-4">
        <h5>1. External Research</h5>
        <div class="hvrbox">
        	<img src="static/images/externalanalysis.png" class="hvrbox-layer_bottom graph center">
        	<div class="hvrbox-layer_top">
        		<div class="hvrbox-text">We have conducted research of various external
              sources to guide our analysis and provide deeper context to barriers experienced by women in STEM
            </div>
        	</div>
        </div>
      </div>
      <div class="col-md-4">
        <h5>2. Exploratory Analysis</h5>
        <div class="hvrbox">
        	<img src="static/images/exploratoryanalysis.png" class="hvrbox-layer_bottom graph center">
        	<div class="hvrbox-layer_top">
        		<div class="hvrbox-text">We conducted an exploratory analysis on the data
              provided by IAP to develop preliminary insights and to prioritize features
              to be included and engineered in the clustering model.
            </div>
        	</div>
        </div>
      </div>
      <div class="col-md-4">
        <h5>3. Developing a Model</h5>
        <div class="hvrbox">
        	<img src="static/images/modeldev.png" class="hvrbox-layer_bottom graph center">
        	<div class="hvrbox-layer_top">
        		<div class="hvrbox-text">Data was cleansed to remove outliers, adjust for inflation and multicollinearity, and replace
              categorical values with numerical values that can be run through a statistical model. New variables
              were engineered and a k-means clustering algorithm was used to groups students into similar "clusters."
            </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
      </body>
      {% endblock %}
</html>
