{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
  <nav class="navbar navbar-default navbar-static-top navbackground">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:9999/">Home</a></li>
        <li><a href="http://127.0.0.1:9999/about">About This Project</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}

  <div class="card">
    <img class="card-img-top" src="static/images/frontpage2.png">
    <div class="card-img-overlay">
      <h1 class="jumbo-text">PROMOTING STUDENT SUCCESS WITH DATA DRIVEN GUIDANCE</h1>
    </div>
  </div>

  <div class="row center-block">
    <div class="col-md-1"></div>
      <div class="card-group">
      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="card">
          <img src="static/images/problem.png" class="card-img-top" alt="Challenge">
          <div class="card-body">
            <h5 class="card-title">The Challenge</h5>
            <p class="card-text">There is an underrepresentation of Women in STEM undergraduate degrees,
               graduate degrees, and careers.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="card">
          <img src="static/images/goal.png" class="card-img-top" alt="Method">
          <div class="card-body">
            <h5 class="card-title">Our Method</h5>
            <p class="card-text">Analyze University of Waterloo student data using machine learning techniques
               to identify factors that lead to women student success and identify strategies to increase enrolment,
               academic success, and careers growth in STEM.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="card">
          <img src="static/images/findings.png" class="card-img-top" alt="Findings">
          <div class="card-body">
            <h5 class="card-title">Our Findings</h5>
            <p class="card-text">Students were grouped into 6 main clusters with distinct attributes, preferences, and motivations.
              This clusters enable the University of Waterloo to begin developing targeted programs to support and encourage more female students
              to pursue opportunities in STEM.</p>
          </div>
        </div>
      </div>
</div>
</div>

<!-- old stuff below -->

<div class="row">
<div class="col-md-5 survey-display">
  <h1 class="survey-header title">What Type of Student Would You Have Been Classified as?</h1>
  <p class="explanation-text">See what student profile our k-means
    machine learning model would have placed you in, with interesting
    findings about your particular student profile and how to increase university enrolment, academic success, and careers growth in STEM for these students.</p>
    <p class="explanation-text">Fill in the questions below and click "Calculate Cluster."</p>
    <div class = "col-md-5 survey-display">
      <form method = "POST" action="" novalidate>
        <d1>
          {{ wtf.quick_form(form)}}
        </d1>
      </form>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>
</div>
</div>

<!-- results are beneath here -->

<div class="container-fluid" >
<h2 class = "p1">Congrats! You are in Cluster {{clusterNum}}: {{clusterName}}!</h2>
<br>
</div>

<div class="row center-block">

<div class="col-md-1"></div>
  <div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="caption">
        <h4>Spider Graph</h4>
            <p>The spider graph is a visual representation of the attributes of this cluster.</p>
            <img src={{clusterSpider}} alt="Spider Graph" style="width:100%;height: 200px;">
      </div>
    </div>
  </div>

      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
            <h4>Cluster Breakdown</h4>
                <p>The spider graph is a visual representation of the attributes of this cluster.</p>
                <img src={{clusterStats}} alt="Cluster Breakdown" style="width:100%;height: 200px;">
          </div>
        </div>
      </div>


  <div class="col-xs-18 col-sm-6 col-md-3">
  <div class="thumbnail">
<div class="form-group">
	<div class="caption">
	<h4>Step 3</h4>
        <p> Paste it in the box below and click Go!</p>
		<textarea type="text" class="form-control"  rows = "11" id="inputText" placeholder="Paste Here"></textarea>
	</div>
	</div>
        </div>
      </div>
      </div>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/npm.js') }}"></script>
{% endblock %}
