
{% import "bootstrap/wtf.html" as wtf %}

{% block profile %}
<section id="profile" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="title-box-2">
            <h5 class="title-left">
              Congrats! You are in Cluster {{myCluster.getNum()}}: {{myCluster.getClusName()}}!
            </h5>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../static/images/{{myCluster.getPic()}}" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>{{myCluster.getProfName()}}</span></p>
                    <p><span class="title-s">Faculty: </span> <span>{{myCluster.getFaculty()}}</span></p>
                    <p><span class="title-s">Program: </span> <span>{{myCluster.getProgram()}}</span></p>
                    <p><span class="title-s">Favourite Quote: </span> <span>"{{myCluster.getQuote()}}"</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">About {{myCluster.getClusName()}}</p>
                <span>Quality of Work: <b>{{myCluster.getTraitsWord()[0]}}</b></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{myCluster.getTraitsPerc()[0]}}%;" aria-valuenow="{{myCluster.getTraitsPerc()[0]}}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Dependability: <b>{{myCluster.getTraitsWord()[1]}}</b></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{myCluster.getTraitsPerc()[1]}}%;" aria-valuenow="{{myCluster.getTraitsPerc()[1]}}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Problem Solving: <b>{{myCluster.getTraitsWord()[2]}}</b> </span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{myCluster.getTraitsPerc()[2]}}%;" aria-valuenow="{{myCluster.getTraitsPerc()[2]}}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Ability to Learn: <b>{{myCluster.getTraitsWord()[3]}}</b></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{myCluster.getTraitsPerc()[3]}}%;" aria-valuenow="{{myCluster.getTraitsPerc()[3]}}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  {{myCluster.getAbout()}}
                </p>
                <div class="title-box-2">
                  <h5 class="title-left">
                    Ways to support me
                  </h5>
                </div>
                <p class="lead">
                  <ul>
                    <li>{{myCluster.getNeeds()[0]}}</li>
                    <li>{{myCluster.getNeeds()[1]}}</li>
                    <li>{{myCluster.getNeeds()[2]}}</li>
                    <li>{{myCluster.getNeeds()[3]}}</li>
                  </ul>
                </p>
              </div>
            </div>
<div class="wrapper">
<div class="row">
<div class="col-md-3">
    <div class="percent-box subhead">
      <div class="c100 p{{myCluster.getStats()[0]}} yellow">
          <span><b>{{myCluster.getStats()[0]}}%</b></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <div class="service-content">
        <h4 class="j-title"> % of Cluster that is Female</h4>
      </div>
    </div>
</div>
<div class="col-md-3">
    <div class="percent-box subhead">
      <div class="c100 p{{myCluster.getStats()[1]}} yellow">
          <span><b>{{myCluster.getStats()[1]}}%</b></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <div class="service-content">
        <h4 class="j-title">% of all Females in Cluster</h4>
      </div>
    </div>
</div>
<div class="col-md-3">
    <div class="percent-box subhead">
      <div class="c100 p{{myCluster.getStats()[2]}} yellow">
          <span><b>{{myCluster.getStats()[2]}}%</b></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <div class="service-content">
        <h4 class="j-title"> % of all STEM Females in Cluster</h4>
      </div>
    </div>
</div>
<div class="col-md-3">
    <div class="percent-box subhead">
      <div class="c100 p{{myCluster.getStats()[3]}} yellow">
          <span><b>{{myCluster.getStats()[3]}}%</b></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <div class="service-content">
        <h4 class="j-title"> % of all non-STEM Females in Cluster</h4>
      </div>
    </div>
</div>
</div>
</div>

        </div>
      </div>

      <div class="container box-shadow-full">
        <div class="row">
          <div class="col-sm text-center">
            <button type="button" id="cluster1" class="btn btn-secondary" value="1" onclick="clusterview(this.value)">Cluster 1</button>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="cluster2" class="btn btn-secondary" value="2" onclick="clusterview(this.value)">Cluster 2</button>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="cluster3" class="btn btn-secondary" value="3" onclick="clusterview(this.value)">Cluster 3</button>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="cluster4" class="btn btn-secondary" value="4" onclick="clusterview(this.value)">Cluster 4</button>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="cluster5" class="btn btn-secondary" value="5" onclick="clusterview(this.value)">Cluster 5</button>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="cluster6" class="btn btn-secondary" value="6" onclick="clusterview(this.value)">Cluster 6</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<script src="../static/js/profile.js"></script>


{% endblock %}
