.jumbo-text{
  font-size:40px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.8);
}
.extra-padding{
  padding-top: 400px;
}
.survey-header{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.graph-display{
  float: right;
}

.full-page{
  height:100%;
}

.survey-display{
    margin-left: 30px;
}

.background-image{
  background-image: url('../images/frontpage2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

.title{
  margin-top:10px;
  font-weight: bold;
}

.explanation-text{
  font-size: 12px;
}

.background-c{
  background-color: #f7f8f7;
}

.result-pic{
  background-image: url('../images/goldstandard.png');
  width: 500px;
}
